.title {
  font-size: 12px;
  font-weight: 800;
  color: $theme5;
}

.titlewhite {
  font-size: 12px;
  font-weight: 800;
  color: $theme2;
}

.text-2 {

  color: $theme2;
  font-size: 14px;
  font-weight: 500;
  gap: 10px;
  line-height: normal;

}

.textholder {
  display: flex;
  flex-direction: column;

  .text-3 {
    color: $theme6;
    font-size: 10px;
  }
}

.text-4 {
  color: $theme6;
  font-size: 14px;
  font-weight: 500;
}

.button-3 {
  background-color: #232937;
  color: $theme2;
  width: max-content;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 40px;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 0 30px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.button-4 {
  background-color: $theme3;
  color: $theme1;
  width: max-content;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 40px;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 0 22px;
  border-radius: 11px;
  border-bottom: 4px solid #98ae39;
  cursor: pointer;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #232937;
  border: 0;
  border-radius: 0;
  height: max-content;
  padding: 4px 12px;
  color: $theme2;

  &:first-child {
    border-radius: 50px 0px 0px 50px;
  }

  &:nth-child(3) {
    border-radius: 0px 50px 50px 0px;
  }
}

.card_text {
  font-size: 13px;
  color: $theme6;
  font-weight: 500;
}

.titem {
  display: flex;
  align-items: center;

  img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 3px;
  }


}

.tname {
  color: $theme2;
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}